


// ================================== @media =================================//
@media screen and (max-width: 1199px)
  .basket-products
    flex: 0 0 100%;
    max-width: 100%;


  .header-info-calls
    display none
  .header-nav-panel-item a
    font-size 12px
  .header-bottom-catalog
    margin-right 40px
  .header-popup-catalog
    background-image none
    background-color #fff
    filter none
  .my-swiper-content-category
    font-size 12px
  .my-swiper-content-title
    font-size 33px
    margin-bottom 20px
  .my-swiper-content-price
    font-size 22px
    margin-bottom 45px
  .my-swiper-content-link
    font-size 14px
  .my-swiper-content-link--icon
    padding 5px
  .my-swiper-content-link .icon
    size(10px)
  .main-swiper-slide-content
    max-width 273px
  .baner-stock-procent-number
    font-size 20px
  .baner-stock-procent-number:after
    font-size 14px
  .baner-stock-title
    font-size 18px
    padding-right 20px
  .baner-stock-content .my-swiper-content-link span
    font-size 11px
  .my-swiper-content-link span
    margin-right 9px
  .baner-stock-stock
    padding-right 20px
    font-size 10px
  .baner-stock-content .my-swiper-content-link
    right 20px
  .popular-catalog-item--title
    font-size 15px
  .popular-catalog-item-category
    font-size 10px
  .popular-catalog-item .icon
    size(55px)
  .guarantie-main-item-wrap p
    font-size 12px
  .guarantie-main-item-wrap span
    font-size 13px
  .last-day-catalog-item__img
    width 41%
    margin-left 30px
  .last-day-cat-category-title
    font-size 22px
  .last-day-cat-category-link span
    font-size 13px
  .last-day-products-list .swiper-wrapper
    margin 0 0
  .new-products-slider .swiper-wrapper
    margin 0 0
  .section-text
    font-size 14px
    line-height 1.8
  .long-baner-wrap
    width 60%
  .long-baner-bg
    width 35%
  .you-view-clear-text
    font-size 12px
  .you-view-clear .icon
    size(10px)
  .you-view-products-list .swiper-wrapper
    margin 0 0
  .desktop-footer-pages
    display none
  .mobile-footer-pages
    display block
  .footer-phones-and-callback
    flex-direction column
    align-items baseline
  .footer-phones
    margin-bottom 10px
  .filter-category-list-name
    font-size 12px
  .filter-category-watch-all
    font-size 13px
  .filter-title
    font-size 13px
  .product-page-title
    font-size 23px
  .gallery-thumbs
    height 325px
  .product-content-price
    flex-direction column
    align-items flex-start
  .product-content-price-after
    line-height: 0.8;
    margin-bottom: 5px;
  .product-content-delivery-city
    flex-direction column
    align-items flex-start
  .basket-products-wrapper
    flex-direction column
    margin 0 -15px
  .basket-products
    margin 0
  .checkout-info-deli
    margin-bottom 15px
  .about-us-content .partner-content-text
    margin  0 0 0 -20%
  .partner-content-text .section-title
    font-size 22px
  .partner .partner-content:after
    display none
  .delivery-content:after
    right 200px
  .delivery-tab
    flex-direction column
  .delivery-tab .icon
    margin-right 0
    margin-bottom 10px
  .delivery-tab-items1
    text-align center
  .delivery-tab-items
    text-align center
  .setup-stock-item
    width 100%
  .setup-stock-item
    font-size 12px
  .delivery-region-price-text
    font-size 12px
  .setup
    .setup-block-item
      height 320px
    .setup-stock-item
      width 50%
  .setup-block-item-wrap:last-child .setup-block-item:before
    background-position: 50% 100%;
    width 240px
  .basket-products-over
    margin-bottom 15px
  .gallery-thumbs
    width 92px
    margin-right 16px






@media screen and (max-width: 992px)
  .header-main-bottom-relative
    display none
  .mobile-filter-fixed
    display block
  .slider-and-baners .col-lg-4
    display none
  .mobile-header-992-wrap
    display block
  .news-wrapper
    margin 0
  .news-page-article-header
    flex-direction column
    align-items flex-start
  .news-article-content
    margin-left 0
    padding 0
  .news-page-wrapper
    margin 0
  .news-share span
    display none
  .news-page-article-date-and-time
    margin-bottom 25px
  .news-block-more
    flex-direction column
  .img-news-more-img
    width 100%

  .header-top-bg
    display none
  .header-main-bottom
    display none !important

  .mobile-header-992
    display flex
    padding 13px 26px
    background-color #F6F6F6
    margin-bottom 14px
    .icon
      width 150px
      height 38px
      margin-right 35px
  .slider-and-baners
    margin 0 -15px

    .pr-0
      padding-right 0px !important
      padding-left 0px !important

  .main-swiper-slide
    margin 0 auto
  .populat-catalog
    flex-wrap nowrap

  .popular-catalog-item .icon
    size(50px)
  .populat-catalog-swiper
    margin 0 -15px

  .mobile-header-992
    .header-bottom-search
      width 50%
      min-width 225px
      margin-right 35px

    .input-search
      background-color transparent
    .header-search-input-wrap .icon
      size(22px)
    .header-favourite .icon
      size(19px,22px)
      margin-right 0
    .header-favourite
      display flex
      align-items center
      justify-content center
      margin-right 28px
    .header-basket-added .icon
      size(22px)
      margin-right 0
    .added-basket-product
      right -8px
    .header-basket-link
      margin-right 16px
    .header-bottom-catalog
      padding 0
      margin 0
      width 118px
    .header-bottom-catalog.active
      background-color transparent
    .header-catalog-text
      font-family "Montserrat 400", sans-serif
    .header-bottom-catalog.active .header-catalog-text
      color color383838
    .header-bottom-catalog.active .hamburguer:before
      background-color  color383838
    .header-bottom-catalog.active .hamburguer:after
      background-color color383838
  .gallery-thumbs
    display none
  .product-load-more-thumb-next
    display none
  .product-cotent-info
    flex-direction column
  .product-content-info-attr
    width 100%
    margin-bottom 18px
  .product-content-info-price
    width 100%
  .product-content-price
    flex-direction inherit
    align-items center
  .product-content-delivery-city
    flex-direction inherit
    align-items center
  .gallery-top
    height max-content
  .product-swiper-pag
    .swiper-pagination-bullet-active
      background-color color383838
    .swiper-pagination-bullet-active-next
      background-color transparent
      border 1px solid color383838
      opacity 1
    .swiper-pagination-bullet-active-prev
      background-color transparent
      border 1px solid color383838
      opacity 1
  .tab-content-deli p
    line-height 1.6
    font-size 13px
  .basket-products-over-block
    flex-direction column
    flex-flow: column-reverse;
  .basket-products-over-block
    width 30%
  .basket-products-notific
    margin-bottom 12px
  .basket-attr-and-img
    width 60%
  .map-text-info-info
    top: 50px;
    left: 80px;





  .mobile-menu-fixed
    position fixed
    right 0
    bottom 0
    top 76px
    width 375px
    z-index 200
    background-color #fff
    padding 22px 28px
    overflow-y scroll
    transform translateX(100%)
    will-change transform
    transition all linear .2s

  .mobile-menu-fixed.active
    transform translateX(0%)
    box-shadow: 0px 34px 24px rgba(0, 0, 0, 0.13);
  .mobile-menu-nav
    display flex
    justify-content space-between
    align-items center
    margin-bottom 15px

  .mobile-menu-go-back
    display flex
    align-items center
    cursor pointer

    .icon
      size(16px)
      fill color383838
      margin-right 10px
  .mobile-menu-go-back-button
    font-family "Montserrat 500", sans-serif
    font-size 14px
    margin-bottom 0
    color color383838

  .mobile-menu-ready
    font-family "Montserrat 500", sans-serif
    font-size 14px
    cursor pointer

  .mobile-menu-content-arrow
    display flex
    align-items center
    justify-content space-between
    padding 15px 0
    cursor pointer
    .icon
      size(11px)
      fill color383838
      margin-right 0
  .mobile-menu-content-arrow-text
      margin-bottom 0
      font-family "Montserrat 600", sans-serif
      font-size 16px
      color color383838
  .mobile-menu-content-list
    display none
  .mobile-header-992-wrap
    position relative
    height 76px
  .mobile-menu-fixed2
    position fixed
    right 0
    bottom 0
    top 76px
    width 375px
    z-index 195
    background-color #fff
    //padding 22px 28px
    overflow-y scroll
    transform translateX(100%)
    will-change transform
    transition all linear .2s

  .mobile-menu-fixed2.active
    transform translateX(0%)
    box-shadow: 0px 34px 24px rgba(0, 0, 0, 0.13);

  .mobile-menu-main-choise
    display flex
    align-items center
    justify-content space-between

    span
      font-family "Montserrat 600", sans-serif !important
      font-size 14px !important
      color color383838 !important
      margin-bottom 0
    .icon
      size(11px)
      margin-right 0
  .mobile-menu-main-city
      padding 18px 28px
      border-bottom 1px solid rgba(56, 56, 56, 0.27)
      cursor pointer
      span
        font-family "Montserrat 500", sans-serif
        font-size 12px
        color #797979

  .mobile-menu-main-phone
    display block
    padding 18px 28px
    border-bottom 1px solid rgba(56, 56, 56, 0.27)
    cursor pointer

  .mobile-menu-main-phone-bold
    font-family "Montserrat 600", sans-serif
    font-size 14px
    color color383838
    margin-bottom 0
    display block
  .mobile-menu-main-phone-small
    margin-bottom 0
    display block
    color #797979
    font-family "Montserrat 500", sans-serif
    font-size 12px
  .mobile-menu-main-list
    padding 34px 28px

  .mobile-menu-main-item-catalog
    display flex
    justify-content space-between
    align-items center
    cursor pointer
    span
      font-family "Montserrat 600", sans-serif
      font-size 14px
      color color383838
    .icon
      size(11px)
      margin-right 0
  .mobile-menu-main-item
    padding 8px 0
    a
      font-family "Montserrat 400", sans-serif
      font-size 14px
      display block
  .menu-sandwich .hamburguer, .menu-sandwich .hamburguer:before, .menu-sandwich .hamburguer:after
    margin-bottom 0
  .mobile-menu-fixed3
    position fixed
    right 0
    bottom 0
    top 76px
    width 375px
    z-index 200
    background-color #fff
    padding 22px 28px
    overflow-y scroll
    transform translateX(100%)
    will-change transform
    transition all linear .2s

  .mobile-menu-fixed3.active
    transform translateX(0%)
    box-shadow: 0px 34px 24px rgba(0, 0, 0, 0.13);

  .mobile-menu-input-choise-city
    position relative
    label
      position absolute
      top: 5px;
      left: 17px;
      font-family "Montserrat 500", sans-serif
      font-size 10px
      color #00B2CB
  .mobile-menu-ci
    padding-top 12px

  .mobile-menu-ci.active
    border 1px solid #00B2CB
  .mobile-menu-input-button
    position absolute
    display flex
    justify-content center
    align-items center
    right 0
    top 0
    height 100%
    width 45px
    cursor pointer
    .icon
      size(12px)
      margin-right 0
      fill rgba(56, 56, 56, 0.6)
  .mobile-input-content-item-text1
    font-family "Montserrat 500", sans-serif
    font-size 14px
    color color383838
    display block
  .mobile-input-content-item-text2
    font-family "Montserrat 500", sans-serif
    font-size 12px
    color #797979
    display block

  .mobile-menu-input-content
    position absolute
    display none
    top 50px
    right 0
    left 0
    padding 20px 16px
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.13);
  .mobile-menu-input-content-item
    margin-bottom 18px
    cursor pointer

  .guarantie-main
    margin 0 -15px
  .guarantie-main-item
    flex-direction column
    align-items center
    .icon
      margin-right 0
      margin-bottom 21px
  .guarantie-main-block
    text-align center
  .guarantie-main-item-wrap span
    margin-bottom 8px
  .last-day-catalog-item
    height 200px
  .last-day-cat-category-title
    margin-bottom 50px
  .last-day-cat-info
    padding-right 15px
  .last-day-cat-category-link-icon
    min-width 22px
  .last-day-cat-category-link span
    font-size 11px
  .section-text
    font-size 12px
  .section-title
    font-size 22px
  .long-baner-bg
    width 40%
    top -40px
  .long-baner
    padding 40px 0
  .you-view
    padding 50px 0
  .footer-logo-social
    display none
  .footer-blocks
    justify-content space-between
  .footer-info-text
    font-size 12px
  .popular-tag-wrap
    max-width 195px
  .footer-info
    width 60%
  .teamlight-383838
    font-size 12px
  .footer-phones-and-callback
    flex-direction inherit
    align-items center
  .footer-phones
    margin-bottom 0
  .selectCF
    max-width 180px
    margin-right 22px
    height 38px
  .select-input
    height 38px
  .filter-mobile-button
    display flex
  .mobile-filter-fixed
    position fixed
    right 0
    bottom 0
    top 0
    width 375px
    z-index 200
    background-color #fff
    padding 22px 28px
    overflow-y scroll
    transform translateX(100%)
    will-change transform
    transition all linear .2s
  .mobile-filter-fixed.active
    transform translateX(0%)
    box-shadow: 0px 34px 24px rgba(0, 0, 0, 0.13);
  .mobile-filter-go-back
    display flex
    align-items center
    cursor pointer

    .icon
      size(16px)
      fill: #383838;
      margin-right: 10px;
  .filter-catalog
    display none
  .breadcrumbs .container
    padding 0
  .catalog-content
    padding 0
  .product-item-last-day__link
    font-size 12px
  .catalog-content-prodcut-item
    padding 0 10px
  .attention-teamlight-info
    width 175px
  .mobile-filter-fixed .mobile-menu-nav
    margin-bottom 25px
  .catalog-page
    .mobile-header-992-wrap
      height 76px

    .mobile-header-992
      border-bottom 1px solid rgba(56, 56, 56, 0.13)
  .mobile-header-bottom-catalog
    background-color transparent !important
    span
      background-color color383838 !important
      &:after
        background-color color383838 !important
      &:before
        background-color color383838 !important
    .header-catalog-text
      color color383838 !important
  .product-content-after--added
    width 90%
  .catalog-product-item__img
    max-height 100%
    min-height auto
  .result-search:before
    background-position 92%
  .about-us-content:after
    right 15px
    width 285px
  .partner-my-partner
    flex-direction column
  .partner-my-wrap
    padding 0
    margin-bottom 20px
  .partner-block-item span
    font-size 14px
  .delivery-content:before
    width: 325px;
    height: 193px;
    right 15px
  .delivery-content:after
    width: 330px;
    height: 265px;
    top auto
    bottom 0
    right 50px
  .setup-block-item-wrap:last-child .setup-block-item:before
    display none
  .setup-block-item-wrap:first-child .setup-block-item:before
    display none
  .setup .setup-stock-item
    width 100%
  .setup .setup-block-item
    height 275px
  .product-swiper-pag
    display block



@media screen and (max-width: 768px)
  .mobile-header-992 .header-basket-link
    margin-right 12px
  .mobile-header-992 .header-favourite
    margin-right 20px
  .input-search
    font-size 12px
  .mobile-header-992 .icon
    margin-right 15px
  .mobile-header-992
    padding 13px 10px
    border-bottom 1px solid rgba(56, 56, 56, 0.12)
  .header-catalog-text
    font-size 13px

  .mobile-header-992 .header-bottom-catalog
    width 110px
  .my-arrows-wrap
    display none
  .main-swiper-slide-content
    top: 50px;
    bottom: 67px;
    left: 40px;
  .my-swiper-content-title
    font-size 26px
  .my-swiper-content-price
    font-size 20px
  .my-swiper-content-link
    font-size 12px
  .guarantie-main-item-wrap span
    font-size 11px
  .last-day-arrows-wrap
    display none
  .last-day-products-list
    margin 0 -30px
    margin-bottom 50px
  .last-day-title-and-arrows
    margin-bottom 20px

  .last-day-catalog-items
    flex-direction column
  .last-day-catalog-item
    width 100%
    height 255px
    margin-bottom 20px
  .last-day-cat-info
    padding-right 35px
  .last-day-catalog-item__img
    width 44%
  .footer-pages-item a
    font-size 12px
  .footer-phones-and-callback
    flex-direction column
    align-items baseline
  .footer-phones
    margin-bottom 10px
  .modal
    padding 0 16px
  .popup-left-right
    flex-direction column
  .popup-left
    margin-bottom 30px
  .search-popup
    display none

  .product-page-title
    font-size 17px
  .product-content-wrapper
    padding 0
  .product-page-title-wrap
    padding 0
  .product-content-price-after
    font-size 26px
  .product-content-price-before
    font-size 16px
  .product-cotent-info
    padding-left 15px
  .guarantie-product .guarantie-main-item-wrap
    border none
  .tab-spec-item
    width 48%
  .tab-spec-list
    height 720px
  .product-content-info-attr-text
    display none
  .product-content-info-attr-text-mobile
    display block
    margin-top 8px
  .product-content-after--added
    width 82%
  .product-content-info-attr-item:nth-last-child(-n+3)
    display none
  .catalog-product-item__img
    max-height 100%
  .basket-product-border-li
    flex-direction column
    align-items flex-start
  .basket-attr-and-img
    width 100%
    margin-bottom 20px
  .basket-products-price-count
    width 100%
  .basket-products-over-block
    flex-flow initial
    width 100%
  .basket-products-over
    margin-bottom 15px
  .thx-order-block
    flex-direction column
    flex-flow column-reverse
  .thx-order
    align-items center
  .thx-order span
    font-size 14px
  .thx-order p
    font-size 14px
    text-align center
  .thx-order-img
    size(270px)
  .thx-for-order
    border-top 0
  .thx-order span
    margin-top 8px
  .your-search-name span
    margin-top 0
  .popup-1-left
    display none
  .popup-1-right
    width 100%
  .partner-content-text .section-title
    font-size 18px
  .about-us-content:after
    right: 0px;
    width: 220px;
  .partner-wrap
    height 230px
  .all-partner-wrap
    margin 0
  .partner-sub p
    font-size 14px
  .partner-content:before
    right 0
    left auto
  .partner-content-text p
    width 315px
    font-size 14px
  .partner-subscribe
    flex-direction column
    .partner-sub
      justify-content left !important
      margin-bottom 20px
  .delivery-content:before
    width: 306px;
    height: 145px;
  .delivery-content:after
    width: 339px;
    height: 271px;
    right: 0;
    background-position: 10vw 12vh;
  .delivery
    .delivery-content .partner-content-text
      margin: 0 0 0 -22%;
      width: 50%;
  .setup-block-list
    flex-direction column
  .setup-block-item-wrap
    margin-bottom 20px
  .news-more-articles-block
    margin 0
  .news-block-more
    padding 0
  .news-img-style
    width 100%
  .news-img-style.img-25
    width 49.5%
  .map-text-wrap p
    font-size 14px
  .map-text-info-info
    width: 350px;
    padding: 24px;
    top: 44px;
    left: 34px;






@media screen and (max-width: 576px)
  .mobil-yandex-map
    display block
  .news-img-style.img-25
    width 100%
  .mobile-search-display-none
    display none
  .mobile-header-992
    padding 0 10px
    .icon-logo
        display none
    .icon-logo-mobile
        display block
        width 100px
  .header-catalog-text
    display none
  .mobile-header-bottom-catalog
    width 50px !important
  .footer-blocks,.footer-second
    flex-direction column
  .mobile-footer-pages
    width 100%
    border-bottom 1px solid rgba(56, 56, 56, 0.13)
    margin-bottom 20px

  .footer-popular-tag
    border-bottom 1px solid rgba(56, 56, 56, 0.13)
    margin-bottom 20px
    padding-bottom 15px
  .footer-info
    width 100%
  .footer-phones-and-callback
    flex-direction inherit
    align-items center
  .footer-phones
    margin-bottom 0

  .main-swiper-slide-content
    top: 15px;
    left: 17px
  .my-swiper-content-category
    font-size 10px
  .my-swiper-content-title
    font-size 20px
  .my-swiper-content-price
    margin-bottom 35px

  .mobile-menu-fixed2,.mobile-menu-fixed,.mobile-menu-fixed3
    width 100%
  .guarantie-main
    flex-direction column
  .guarantie-main-item-wrap
    border-right 0
    border-left 0

    .guarantie-main-item
      border-bottom 1px solid rgba(56,56,56,0.12)
      padding-bottom 22px
  .guarantie-main-item-wrap:last-child
    .guarantie-main-item
      border-bottom 0
      padding 0
  .guarantie-main-item .icon
    size(55px)
  .section-title
    font-size 17px
  .last-day-catalog-items
    flex-direction inherit
  .last-dat-product-in-catalog
    margin 0 -30px
    margin-bottom 50px
  .last-day-cat-info
    padding-right 13px
  .last-day-catalog-item__img
    width 60%
    margin-left 5px
  .new-products-slider
    margin 0 -30px
  .long-baner-bg
    display none
  .long-baner-wrap
    width 100%
    .section-title
        margin 0 0
        margin-bottom 10px
  .you-view-container-title
    margin 0 15px
    margin-bottom 22px
  .you-view-products-list
    margin 0 -15px
  .popular
    .section-title
      text-align left !important
      margin 0 0
      margin-bottom 15px

  .section-title
    text-align left !important
  .new-products-wrap
    padding-bottom 0
  .last-dat-swiper-pagination
    bottom 33px !important
    .swiper-pagination-bullet
      background-color color383838
    .swiper-pagination-bullet-active-next
      transform scale(1) !important
      background-color transparent
      border 1px solid color383838
      opacity 1
    .swiper-pagination-bullet-active-prev
      transform scale(1) !important
      background-color transparent
      border 1px solid color383838
      opacity 1
  .catalog-content-sort-name
    display none
  .mobile-filter-fixed
    width 100%
  .popup-product-price-span
    font-size 28px
    margin-bottom 12px
  .popup-product-price-span2
    font-size 18px
  .modal
    padding 0
  .popup-product-price
    flex-direction column
    align-items flex-start
  .popup-buttons-add-to-cart
    flex-direction column
  .popup-buy
    margin-right 0
    margin-bottom 10px
  .popup-1-right-content
    padding 0
  .popup-question-content
    margin-top 15px
  .popup-title
    font-size 17px
  .product-content-wrapper
    flex-direction column
  .product-content-after--added
    width 88%
  .product-cotent-info
    padding 0
  .gallery-top
    margin-bottom 50px
  .product-page .guarantie-main-item-wrap
    justify-content center !important
    margin 5px 0
  .product-page .guarantie-main-item
    border-bottom 0
  .tab-spec-list
    height 100%
    flex-wrap nowrap
  .tab-spec-item
    width 100%
  .tab-delivery-content
    flex-direction column
  .tab-content-spec
    align-items flex-start !important
    padding 0
  .tab-content-deli
    margin-bottom 20px
  .product-page-title-wrap
    align-items flex-end
  .product-page-add-to-favourite span
    width max-content
  .breadcrumb-item:last-child .breadcrumb-link
    width max-content
  .product-content-info-attr-text
    font-size 10px
  .product-page-add-to-favourite
    position absolute
    right 15px
  .product-page-mobile-attr
    position relative
    width 100%
  .tabs-product-wrap
    margin 0
  .tabs-product-all-tabs
    overflow-x scroll
  .tabs-teamlight
    margin-right 40px
    width max-content
  .breadcrumbs
    display none
  .mobile-go-back-arrow
    display flex
  .mobile-header-search-576
    display block
  .mobile-header-992-wrap
    height 112px
  .mobile-go-back
    display block
  .mobile-menu-fixed2,.mobile-menu-fixed,.mobile-menu-fixed3
    top 50px
  .search-popup
    display none
  .search-popup
    height 390px
  .catalog-product-item__img
    max-height 100%
  .mobile-header-992
    border-bottom 0 !important
  .mobile-filter-fixed .mobile-menu-nav
    margin -22px -30px 10px -30px;
    padding 15px
    background-color #F6F6F6
  .basket-products,.basket-products-info
    padding 0
  .basket-products-wrapper
    margin 0 -30px
    margin-top 20px
  .checkout-title-wrap
    padding-left 10px
  .checkout-for-moskov
    flex-direction column
    align-items flex-start
  .thx-order-img
    size(227px)
  .bread-border
    border none
  .error-content-img
    size(273px)
    margin-bottom 0
  .error-content .section-title
    text-align center !important
    margin-bottom 16px
  .error-button
    width 100%
  .result-search:before
    width: 52%;
    height: 170px;
    right: 0;
    background-position: 14vw;
  .search-result-you .your-search-name
    font-size 18px
  .search-result-you .your-search
    line-height 1.1
  .search-block-result
    padding-top 0
  .search-tags-wrap p
    text-align left
    font-size 13px
    margin-bottom 5px
  .search-result-you
    width 100%
  .search-result-you .your-search
    font-size 17px
  .search-result-you .your-search-name
    font-size 15px
  .result-search .search-block-result
    margin 0 -15px
  .modal
    padding 0 !important
  .about-us-content .partner-content-text
    width: 170px;
    padding 0
    line-height 1.3
  .about-us-content:after
    width: 220px;
    background-position: 27vw 3vh;
  .partner-content-text .section-title
    font-size 14px
  .all-partner-wrap
    margin 0 -15px
  .partner-my-partner
    margin 0 15px
  .all-partner-wrap .section-title
    padding 0 15px
  .partner-sub-form input
    width 100%
  .partner-subscribe

    .partner-sub form
      width 100%
  .partner-sub-form
    width 100%
  .partner-sub p
    font-size 12px
  .partner-subscribe .section-title
    padding 0
  .partner-content:before
    background-position 17vw
  .partner-my-wrap .section-title
    padding 0
  .partner-content-text p
    width 225px
  .partner-content-text .section-title
    padding 0
    font-size 18px
  .partner .partner-content-text
    width 70%
    margin 0 -15%
  .partner-subscribe
    padding-bottom 0
  .delivery .delivery-content .partner-content-text
    margin: 0 0 0 -15%;
    width: 70%;
    top 30%
    .section-title
      font-size 14px
  .delivery-region
    margin: 0 0px;
    margin-bottom: 50px;
  .delivery-tabs
    margin  0 0
    margin-bottom: 50px;
  .setup-block-item-wrap
    padding 0
  .setup-wrap
    margin 0
  .setup-attr-item p
    font-size 12px
  .setup-attr-item .icon
    min-width 25px
  .setup-attr
    padding 0
  .setup-block-title
    font-size 16px
  .news-swiper-1 .row,.news-swiper-2 .row,.news-swiper-3 .row
    flex-wrap nowrap
  .news-swiper-1,.news-swiper-2,.news-swiper-3
    margin 0 -15px
  .news-article-content-img-wrap
    margin-bottom 15px
  .news1-swiper-pagination,.news2-swiper-pagination,.news3-swiper-pagination
    .swiper-pagination-bullet-active-main
      background-color color383838
    .swiper-pagination-bullet-active-prev,.swiper-pagination-bullet-active-next
      border 1px solid color383838
      background-color transparent
      opacity 1
  .mobil-yandex-map
    position relative
    padding 24px 15px
    background-color #fff
  .map-text-info
    display none
  .map-teamlight .container
    padding 0
  .mobile-menu-main-list
    padding 12px 28px
  .tabs-teamlight
    font-size 11px








